<!DOCTYPE html>
<meta name="apple-mobile-web-app-capable" content="yes">
<html>
<link rel="apple-touch-icon" href="/tsinglan.png">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <title>GPA在哪里?</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
</head>

<style>
    @media (prefers-color-scheme: dark) {
        body, div, table, th, td {
            color: #eee;
            background: #121212;
        }
    }

    @media (prefers-color-scheme: light) {
        body, div, table, th, td {
            color: #121212;
            background: #eee;
        }
    }
</style>

<body>
    <div id="app" class="main">
        <header class="p-sm-5 p-4">
            <div class="row justify-content-center">
                <div class="col-auto text-center text-sm-left align-self-center mt-3 mt-sm-0">
                    <h1 style="text-align: center;">Tsinglan GPA 计算器</h1>
                    <p class="lead" style="text-align: center;">夺回你的GPA</p>
                    <a href="/en/"><p style="text-align: center;">English Version</p></a>
                </div>
            </div>
        </header>
        <div class="container rounded shadow-sm main">
            <div class="card">
                <div class="card-body text-center d-flex flex-column align-items-center">
                    <h5>请输入您的校宝账号</h5>
                    <form>
                        <div class="mb-3"><input class="form-control" v-model="username" type="email" name="username"
                                placeholder="Schoolis Username">
                        </div>
                        <div class="mb-3"><input class="form-control" v-model="password" type="password" name="password"
                                placeholder="Schoolis Password">
                        </div>
                        <select class="form-control" v-model="semesterID">
                            <option v-for="option in options" :value="option.value">
                                {{ option.text }}
                            </option>
                            <!--<option v-model="semesterID" id="0" value="0" for="0" selected="">当前学期</option>
                            <option v-model="semesterID" id="21208" value="21208" for="21208">2022-2023 第二学期</option>
                            <option v-model="semesterID" id="21207" value="21207" for="21207">2022-2023 第一学期</option>-->
                        </select>
                        <!--<select v-model="selected">
                            <option v-for="option in options" :value="option.value">
                              {{ option.text }}
                            </option>
                          </select>
                          
                          <div>Selected: {{ selected }}</div>-->
                        <lable>
                            <div class="mb-3">
                                <div>
                                    <input type="checkbox" v-model="percentage" style="display: inline-block;" />
                                    <p style="display: inline-block;">百分比模式</p>
                                </div>
                            </div>
                        </lable>
                        <div class="mb-3"></div><button class="btn btn-primary d-block w-100" type="button"
                            v-if="scoreString != '处理中...'" @click="fetchData(username,semesterID,percentage)">获取</button>
                    </form>
                </div>
            </div>
            <h4 class="text-center">结果</h4>
            <div class="table-responsive" id="score_table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>科目</th>
                            <th>成绩(#)</th>
                            <th>分级</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <p>{{this.scoreString}}</p>
            <p class="lead"></p>
        </div>
        <footer>
            <div class="container py-4 py-lg-5">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column">
                        <h3 class="font-weight-bold" style="font-size: 1rem;">关于</h3>
                        <p style="color: rgb(108,117,125);">本网站尚未经过大量测试，较<b>不稳定</b> 如有疑问请联系我们</br>登陆信息与gpa均不在本服务器上记录</p>
                    </div>
                    <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column">
                        <h3 class="font-weight-bold" style="font-size: 1rem;">协议</h3><a href="/terms.html">
                            <p style="color: rgb(108,117,125);">用户协议
                            </p>
                        </a><a href="https://github.com/MarkSong535/tsinglan_gpa/blob/main/LICENSE">
                            <p style="color: rgb(108,117,125);">公开代码协议</p>
                        </a>
                    </div>
                    <div class="col-sm-4 col-md-3 text-center text-lg-left d-flex flex-column">
                        <h3 class="font-weight-bold" style="font-size: 1rem;">链接</h3>
                        <ul class="list-unstyled">
                            <li><a class="text-muted" href="https://github.com/MarkSong535/tsinglan_gpa">仓库地址</a>
                            </li>
                            <li><a class="text-muted" href="https://marksong.tech/works/tls/tls_gpa/">项目地址</a>
                            </li>
                            <li><a class="text-muted" href="mailto:admin@tsinglan.live">联系管理员</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between pt-3" style="background: var(--bs-gray-100);">
                    <p class="text-muted mb-0">Copyright © 2023 Tsinglan IT Advanced Lab</p>
                    <ul class="list-inline text-muted mb-0">
                        <li class="list-inline-item"><a href="mailto:admin@tsinglan.live"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                    viewBox="0 0 16 16" class="bi bi-mailbox">
                                    <path
                                        d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z">
                                    </path>
                                    <path
                                        d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z">
                                    </path>
                                </svg></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                semesterID: 0,
                username: '',
                scoreString: '等待获取...',
                password: '',
                percentage: false,
                options: [
                            { text: '当前学期', value: 0 },
                            { text: '2023-2024 第二学期', value: 24700 },
                            { text: '2023-2024 第一学期', value: 24699 },
                            { text: '2022-2023 第二学期', value: 21208 },
                            { text: '2022-2023 第一学期', value: 21207 }
                        ]
            },
            methods: {

                async fetchData() {
                    const url = 'https://gy.tsinglan.live/fet/'
                    const req0 = {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            name: this.username,
                            pass: this.password,
                            session_id: 0,
                            sid: this.semesterID,
                            percentage: this.percentage,
                            type: 0
                        })
                    };
                    console.log(this.semesterID)
                    try {
                        if (this.username.length == 0) {
                            this.scoreString = "Please enter your username";
                            return;
                        } else if (this.password.length == 0) {
                            this.scoreString = "Please enter your password";
                            return;
                        }
                        // Wait for the first request to finish
                        this.scoreString = "处理中..."
                        const response1 = await fetch(url, req0);
                        const data1 = await response1.json();
                        // Check the status returned by the first request
                        if (!data1.rstatus) {
                            console.error("Error: " + data1.message);
                            this.scoreString = "Error:" + data1.message;
                            return;
                        }
                        const req1 = {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                name: this.username,
                                pass: this.password,
                                session_id: data1.session_id,
                                sid: this.semesterID,
                                percentage: true,
                                type: 1
                            })
                        };
                        //response2 = await fetch(url2);
                        data2 = await fetch(url, req1).then(response => response.json());
                        await new Promise(resolve => setTimeout(resolve, 1000));
                        // Wait for the second request to finish
                        while (data2.rstatus === false) {
                            response2 = await fetch(url, req1);
                            data2 = await response2.json();
                            if (data2.rstatus === true) {
                                break;
                            }
                            await new Promise(resolve => setTimeout(resolve, 500));
                        }
                        console.log(data2)
                        if (data2.status == false) {
                            this.scoreString = "Login Failed"
                        } else if (data2["error_zh"] != undefined) {
                            this.scoreString = data2['error_zh'];
                            text =
                                "<table class=\"table\"><thead><tr><th>科目</th><th>成绩(#)</th><th>分级</th></tr></thead><tbody></tbody></table>"
                            document.getElementById("score_table").innerHTML = text;
                        } else {
                            //Clean up the data
                            delete data2.err;
                            delete data2.error_en;
                            delete data2.status;
                            delete data2.rstatus;
                            text =
                                "<table class=\"table\"><thead><tr><th>科目</th><th>成绩(#)</th><th>分级</th></tr></thead><tbody>"
                            for (x in data2) {
                                text += "<tr><td>" + x + "</td><td>" + data2[x].split(' ')[0] +
                                    "</td><td>" + data2[x].split(' ')[1] + "</td></tr>";
                            }
                            text += "</tbody></table>"
                            document.getElementById("score_table").innerHTML = text;
                            this.scoreString = "成功!";
                        }
                        console.log(data2);
                    } catch (error) {
                        console.error(error);
                        this.scoreString = "错误:" + error;
                    }
                }
            }
        })
    </script>
</body>

</html>
