<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <title>登录</title>
    <script type="text/javascript"> var webpackConfig = { publicPath: '//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/' }; var burialPointDomain=''; var siteCode=''</script><script type="text/javascript" src="//cdn.schoolis.cn/common/libs/jquery-3.2.1.min.js"></script><script type="text/javascript" src="//cdn.schoolis.cn/common/libs/moment/2.10.6/moment.min.js"></script><script type="text/javascript" src="//cdn.schoolis.cn/common/libs/moment/2.10.6/locale/zh-cn.js"></script><script type="text/javascript" src="//cdn.schoolis.cn/common/libs/echarts-4.0.2.min.js"></script><script type="text/javascript" src="//cdn.schoolis.cn/common/libs/angular-1.6.3.min.js"></script>
    <script type="text/javascript" src="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/scripts/manifest.59827c886237b1a6ffde.js"></script>
    <script type="text/javascript" src="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/scripts/vendor.5c3d188c79399bda32f4.js"></script>
    <script type="text/javascript" src="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/scripts/common.4069e2d7da64c9dcad55.js"></script>
    <script type="text/javascript" src="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/scripts/login.26b2e7ae687d94a90b96.js"></script>
    <link href="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/css/vendor.97b7a355aa257b79f6c5d6ee889e707e.css" rel="stylesheet" />
    <link href="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/css/common.7968b6b9b3aeac69b9c9a0ae7f51071a.css" rel="stylesheet" />
    <link href="//cdn.schoolis.cn/sis/release/student/fe_stu/fe_build/css/login.f3b6d4cfb2749bd9f6da24c310dbbe4d.css" rel="stylesheet" />
<style type="text/css"></style></head>
<body data-new-gr-c-s-check-loaded="10.1.0" data-gr-ext-installed="" style="opacity: 1;">
    <div ng-app="runtime" ng-controller="login" ng-class="styles.bgWhite" style="background-color:#F5F7FA" class="ng-scope fe-apps-login-__bgWhite--17b4s19HLx5VBdUGMT5Gz0">
        <!-- 全局警告弹窗 -->
        <stu-alert class="ng-isolate-scope"><!--success成功 error错误 welcome欢迎 warn提醒-->
<div style="display: none" id="sis_global_alert">
    <span ng-class="styles.textIcon" class="fe-components-stu-common-stu-alert-__textIcon--dUhHu1O37iRX9dhRx-lUu"></span>
    <span ng-class="styles.message" class="fe-components-stu-common-stu-alert-__message--19PzB6DwH2NrQze2UIQRVh"></span>
    <span ng-class="styles.deleteIcon" onclick="$('#sis_global_alert').hide()" class="fe-components-stu-common-stu-alert-__deleteIcon--2yBkqayl10IiNPZuQFZ-OL"></span>
</div></stu-alert>
        <!-- 全局提示弹窗 -->
        <stu-tips class="ng-isolate-scope"><div ng-class="styles.container" class="fe-components-stu-common-stu-tips-__container--3BQ_SQ5K1oHouv9WEA6pqh">
    <div ng-class="styles.item" class="fe-components-stu-common-stu-tips-__item--2AR8gNmEY1XAah-v2E4PM0">

        <!--success成功 error错误 warn提醒-->
        <!-- <div ng-class="[styles.basis,styles.success]">
            <i></i>
            <span  ng-class="styles.message">这里是测试消息</span>
        </div> -->
    </div>
</div></stu-tips>
        <!-- 全局底条 -->
        <stu-loading class="ng-isolate-scope"><div ng-class="[$ctrl.styles.modal,$ctrl.styles.topmodel]" class="fe-components-stu-common-stu-loading-__modal--2-MCo3pkSv9yFxOnufRs-A fe-components-stu-common-stu-loading-__topmodel--2ZCeExx9LGI8u3vaIi72tL" style="display: none;">
    <div ng-class="$ctrl.styles.modalInner" class="fe-components-stu-common-stu-loading-__modalInner--1zJNG0_VlNqrPYx4Z_U8zx">
        <div ng-class="$ctrl.styles.loadBox" class="fe-components-stu-common-stu-loading-__loadBox--2DlgekksQ83t1tyrTG5p1Q">
            <span ng-class="$ctrl.styles.loadInfo" class="ng-binding fe-components-stu-common-stu-loading-__loadInfo--5NRxj-D8APsRrWU5JyWsV">页面加载中...</span>
        </div>
    </div>
</div></stu-loading>
        <login-layout class="ng-isolate-scope"><div>
	<!-- <div ng-transclude="header"></div> -->
	<div ng-transclude="body"><login-body body-url="orgData.backgroundPictureUrl" class="ng-scope ng-isolate-scope"><div ng-class="$ctrl.styles.containBox" class="fe-components-stu-business-login-body-__containBox--5v4PWPGr8gcJzL85J2PND">
	<div ng-class="$ctrl.styles.containMain" class="fe-components-stu-business-login-body-__containMain--32frxvOUSMt5L3n1RNS6Ry">
		<!-- <div ng-class="$ctrl.styles.placeHolder"></div> -->
		<div ng-transclude="">
                <login-enter-box click-action="login(data)" ui-model="errorMessage" header-url="orgData.logoLoginUrl" body-url="orgData.backgroundPictureUrl" class="ng-scope ng-isolate-scope"><!-- <div ng-class="$ctrl.styles.loginBox">

</div> -->
<div ng-class="$ctrl.styles.loginContainer" class="fe-components-stu-business-login-enter-box-__loginContainer--2e4P0GLrQiIxTMx5SkjU9l">
	<div ng-class="$ctrl.styles.loginInfo" class="fe-components-stu-business-login-enter-box-__loginInfo--3voe_r5l9wk7KZFYD-lD97">
		<div ng-class="$ctrl.styles.schoolBackground" class="fe-components-stu-business-login-enter-box-__schoolBackground--2S3KJugj_l_m7T5hRdY_cv">
			<div style="background-image:url('https://cdn.schoolis.cn/sis/upload/orglogo/20181129154749.png'); height: 100%;"></div>
		</div>
		<div ng-class="$ctrl.styles.loginInformation" class="fe-components-stu-business-login-enter-box-__loginInformation--W2yiibeHcVKj_lJeq1rW_">
			<!-- <h2 ng-class="$ctrl.styles.loginTit">{{::$ctrl.$lang.userLogin}}</h2> -->
			<div ng-class="$ctrl.styles.headBox" class="fe-components-stu-business-login-enter-box-__headBox--1n5QBlmVLPi9Mho2a6dmVD">
				<!-- ngIf: $ctrl.headerUrl --><div ng-if="$ctrl.headerUrl" ng-class="$ctrl.styles.headMain" class="ng-scope fe-components-stu-business-login-enter-box-__headMain--7bzuRu-Sq5O2sOCFgPNQH">
					<img ng-src="https://cdn.schoolis.cn/sis/upload/orglogo/20181129154754.png" alt="" src="https://cdn.schoolis.cn/sis/upload/orglogo/20181129154754.png" /></div><!-- end ngIf: $ctrl.headerUrl -->
				<!-- ngIf: !$ctrl.headerUrl -->
			</div>
			<div ng-class="$ctrl.styles.accountContainer" class="fe-components-stu-business-login-enter-box-__accountContainer--22PmjI_OEsahZLiUEgL4zr">
				<div ng-class="[$ctrl.uiModel.nameState ? $ctrl.styles.inputWrap:$ctrl.styles.wrong,$ctrl.loginNameActive?$ctrl.styles.inputWrapFocus:'', $ctrl.styles.loginAccount]" class="fe-components-stu-business-login-enter-box-__inputWrap--2OI0SgF-iDEHZborbYzrNZ fe-components-stu-business-login-enter-box-__loginAccount--V6OxcxzYg1Kv38n9KjsDg fe-components-stu-business-login-enter-box-__inputWrapFocus--3yXZG7AddD6liyXQD6qIX2">
					<!--正常框样式-->
					<span ng-class="$ctrl.styles.user" class="fe-components-stu-business-login-enter-box-__user--3m888HaDpFj2bvIe1izDhk fe-components-stu-business-login-enter-box-__inputIcon--1CDkTdllyHzKlqTPQgNaCe"></span>
					<input type="text" ng-class="$ctrl.styles.inputCon" ng-focus="$ctrl.loginNameActive=true;$ctrl.uiModel.nameState=true" ng-blur="$ctrl.loginNameActive=false" ng-model="$ctrl.loginName" placeholder="请输入用户名" autofocus="autofocus" input-clear="" clear-styles="top: 13px;" class="ng-pristine ng-untouched ng-valid fe-components-directive-input-clear-__input--1PtjmmPXgsHV2Vh7c_lJ2z ng-empty fe-components-stu-business-login-enter-box-__inputCon--35HNXB5XGvlrxMkA3vBtzJ" /><span class="fe-components-directive-input-clear-__closeIcon--1-4h2qP26t0bSzIiZPJxT0 fe-components-directive-input-clear-__hidden--3HEYayJ79M-LoD1frUjbNr" style="top: 13px;"></span>
					<!-- <span ng-class="$ctrl.styles.pass"></span> -->
				</div>
				<div ng-class="[$ctrl.uiModel.passwordState ? $ctrl.styles.inputWrap:$ctrl.styles.wrong,$ctrl.passWordActive?$ctrl.styles.inputWrapFocus:'', $ctrl.styles.loginAccount]" class="fe-components-stu-business-login-enter-box-__inputWrap--2OI0SgF-iDEHZborbYzrNZ fe-components-stu-business-login-enter-box-__loginAccount--V6OxcxzYg1Kv38n9KjsDg">
					<!--错误红框样式-->
					<span ng-class="$ctrl.styles.passwd" class="fe-components-stu-business-login-enter-box-__passwd--3_izAbe6iH3S6kATxyxEjd fe-components-stu-business-login-enter-box-__inputIcon--1CDkTdllyHzKlqTPQgNaCe"></span>
					<input type="password" ng-class="$ctrl.styles.inputCon" ng-focus="$ctrl.passWordActive=true;$ctrl.uiModel.passwordState=true" ng-blur="$ctrl.passWordActive=false" ng-model="$ctrl.passWord" ng-keyup="($event.which === 13)?$ctrl.login():0" placeholder="请输入密码" input-clear="" clear-styles="top: 13px;" class="ng-pristine ng-untouched ng-valid fe-components-directive-input-clear-__input--1PtjmmPXgsHV2Vh7c_lJ2z ng-empty fe-components-stu-business-login-enter-box-__inputCon--35HNXB5XGvlrxMkA3vBtzJ" /><span class="fe-components-directive-input-clear-__closeIcon--1-4h2qP26t0bSzIiZPJxT0 fe-components-directive-input-clear-__hidden--3HEYayJ79M-LoD1frUjbNr" style="top: 13px;"></span>
					<!-- <span ng-class="$ctrl.styles.delete" ng-click="$ctrl.passWord = ''"></span> -->
				</div>
				<p ng-class="$ctrl.styles.inputError" ng-show="$ctrl.uiModel.errorTip" class="ng-binding ng-hide fe-components-stu-business-login-enter-box-__inputError--28m0Mi8Wm-d5i3ut0kmPxu"></p>
				<div ng-class="$ctrl.styles.signBtnWrap" class="fe-components-stu-business-login-enter-box-__signBtnWrap--1hC-pSiXWu5_WJuSPKGEzQ">
					<button ng-class="$ctrl.styles.signBtn" ng-click="$ctrl.login()" class="ng-binding fe-components-stu-business-login-enter-box-__signBtn--2VrsqhNGgcjYTh7LuAGzve">登录</button>
				</div>
				<div ng-class="$ctrl.styles.signForget" class="fe-components-stu-business-login-enter-box-__signForget--3eRfuXHt_y4QmkWUl3LLP0">
					<a href="/foundpassword/index" ng-class="$ctrl.styles.forgetLink" class="ng-binding fe-components-stu-business-login-enter-box-__forgetLink--33qRdR5UpfjVrt3C_MdyYR">忘记密码？</a>
				</div>
			</div>
			<div ng-class="$ctrl.styles.footerContainer" class="fe-components-stu-business-login-enter-box-__footerContainer--gQuSzbYMxjoy_08VUCTAY">
				<a href="http://www.xiaobaoonline.com" ng-class="$ctrl.styles.footLink" target="view_window" class="ng-binding fe-components-stu-business-login-enter-box-__footLink--2K0pI3KH5wNXsdTPoxV4V9">Copyright © 校宝在线</a>

				<div ng-class="$ctrl.styles.dropDown" ng-click="$ctrl.isShow = !$ctrl.isShow" class="fe-components-stu-business-login-enter-box-__dropDown--kB4o9X4zLjd9vndOXOcuz">
					<span ng-class="[$ctrl.default.iconStyles,$ctrl.styles.icons]" class="fe-components-stu-business-login-enter-box-__chinaIcon--2oGiRmBkHnhuvdQ8ePLC_0 fe-components-stu-business-login-enter-box-__languageIcon--2JJNQNaVpAkMrFpNlLQx_9 fe-components-stu-business-login-enter-box-__icons--Bu0PSByW_oBZZ4flpzC0G"></span>
					<input type="text" ng-class="$ctrl.styles.dropInput" disabled="" ng-model="$ctrl.default.title" class="ng-pristine ng-untouched ng-valid ng-not-empty fe-components-stu-business-login-enter-box-__dropInput--1tUy0eYmCcC4q2_Ulmp_Gh" />
					<span ng-class="$ctrl.styles.dropPic" class="fe-components-stu-business-login-enter-box-__dropPic--3skalHkNxD8UtlUanqTGkq"></span>
					<ul ng-class="$ctrl.styles.dropList" ng-show="$ctrl.isShow" class="ng-hide fe-components-stu-business-login-enter-box-__dropList--2aqWrHJfQi6cOIfvMk3rL-">
						<!-- ngRepeat: (key, lan) in $ctrl.langConfig --><li ng-class="$ctrl.styles.dropItem" ng-click="$ctrl.select(key, lan)" ng-repeat="(key, lan) in $ctrl.langConfig" class="ng-binding ng-scope fe-components-stu-business-login-enter-box-__dropItem--1IemyP3VvieqfovhzjGl6U">
							<span ng-class="lan.iconStyles" class="fe-components-stu-business-login-enter-box-__chinaIcon--2oGiRmBkHnhuvdQ8ePLC_0 fe-components-stu-business-login-enter-box-__languageIcon--2JJNQNaVpAkMrFpNlLQx_9"></span>简体中文</li><!-- end ngRepeat: (key, lan) in $ctrl.langConfig --><li ng-class="$ctrl.styles.dropItem" ng-click="$ctrl.select(key, lan)" ng-repeat="(key, lan) in $ctrl.langConfig" class="ng-binding ng-scope fe-components-stu-business-login-enter-box-__dropItem--1IemyP3VvieqfovhzjGl6U">
							<span ng-class="lan.iconStyles" class="fe-components-stu-business-login-enter-box-__englishIcon--3sQIgYTbeot7TGd6IbIDrr fe-components-stu-business-login-enter-box-__languageIcon--2JJNQNaVpAkMrFpNlLQx_9"></span>English</li><!-- end ngRepeat: (key, lan) in $ctrl.langConfig -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</login-enter-box>
            </div>
	</div>
</div>
</login-body></div>
</div>
</login-layout>
        <!-- <org-footer></org-footer> -->
    </div>


</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
Share
Edit
