<!DOCTYPE html> <html><!--
	Page saved with SingleFileZ 
	url: https://tsinglanstudent.schoolis.cn/ 
	saved date: Thu Feb 16 2023 15:39:58 GMT+0800 (中国标准时间)
   --><meta charset=utf-8>
   <title>登录</title>
   <link href=stylesheet_0.css rel=stylesheet>
   <link href=stylesheet_1.css rel=stylesheet>
   <link href=stylesheet_2.css rel=stylesheet>
   <style>.sf-hidden{display:none!important}</style><link rel=canonical href=https://tsinglanstudent.schoolis.cn/><meta http-equiv=content-security-policy content="default-src 'none'; font-src 'self' data: blob:; img-src 'self' data: blob:; style-src 'self' 'unsafe-inline' data: blob:; frame-src 'self' data: blob:; media-src 'self' data: blob:; script-src 'self' 'unsafe-inline' data: blob:; object-src 'self' data: blob:;"><style>img[src="data:,"],source[src="data:,"]{display:none!important}</style></head>
   <body>
	<div ng-app=runtime ng-controller=login ng-class=styles.bgWhite style=background-color:#F5F7FA class="ng-scope fe-apps-login-__bgWhite--17b4s19HLx5VBdUGMT5Gz0">
	
	<stu-alert class=ng-isolate-scope>
   <div style=display:none id=sis_global_alert>
	
	
	
   </div></stu-alert>
	
	<stu-tips class=ng-isolate-scope><div ng-class=styles.container class=fe-components-stu-common-stu-tips-__container--3BQ_SQ5K1oHouv9WEA6pqh>
	<div ng-class=styles.item class=fe-components-stu-common-stu-tips-__item--2AR8gNmEY1XAah-v2E4PM0>
	
	
	</div>
   </div></stu-tips>
	
	<stu-loading class=ng-isolate-scope><div ng-class=[$ctrl.styles.modal,$ctrl.styles.topmodel] class="fe-components-stu-common-stu-loading-__modal--2-MCo3pkSv9yFxOnufRs-A fe-components-stu-common-stu-loading-__topmodel--2ZCeExx9LGI8u3vaIi72tL" style=display:none>
	
   </div></stu-loading>
	<login-layout class=ng-isolate-scope><div>
	
	<div ng-transclude=body><login-body body-url=orgData.backgroundPictureUrl class="ng-scope ng-isolate-scope"><div ng-class=$ctrl.styles.containBox class=fe-components-stu-business-login-body-__containBox--5v4PWPGr8gcJzL85J2PND>
	<div ng-class=$ctrl.styles.containMain class=fe-components-stu-business-login-body-__containMain--32frxvOUSMt5L3n1RNS6Ry>
	
	<div ng-transclude>
	<login-enter-box click-action=login(data) ui-model=errorMessage header-url=orgData.logoLoginUrl body-url=orgData.backgroundPictureUrl class="ng-scope ng-isolate-scope">
   <div ng-class=$ctrl.styles.loginContainer class=fe-components-stu-business-login-enter-box-__loginContainer--2e4P0GLrQiIxTMx5SkjU9l>
	<div ng-class=$ctrl.styles.loginInfo class=fe-components-stu-business-login-enter-box-__loginInfo--3voe_r5l9wk7KZFYD-lD97>
	<div ng-class=$ctrl.styles.schoolBackground class=fe-components-stu-business-login-enter-box-__schoolBackground--2S3KJugj_l_m7T5hRdY_cv>
	<div style=background-image:url(images/2.png);height:100%></div>
	</div>
	<div ng-class=$ctrl.styles.loginInformation class=fe-components-stu-business-login-enter-box-__loginInformation--W2yiibeHcVKj_lJeq1rW_>
	
	<div ng-class=$ctrl.styles.headBox class=fe-components-stu-business-login-enter-box-__headBox--1n5QBlmVLPi9Mho2a6dmVD>
	<div ng-if=$ctrl.headerUrl ng-class=$ctrl.styles.headMain class="ng-scope fe-components-stu-business-login-enter-box-__headMain--7bzuRu-Sq5O2sOCFgPNQH">
	<img ng-src=https://cdn.schoolis.cn/sis/upload/orglogo/20181129154754.png alt src=images/4.png></div>
	
	</div>
	<div ng-class=$ctrl.styles.accountContainer class=fe-components-stu-business-login-enter-box-__accountContainer--22PmjI_OEsahZLiUEgL4zr>
	<div ng-class="[$ctrl.uiModel.nameState ? $ctrl.styles.inputWrap:$ctrl.styles.wrong,$ctrl.loginNameActive?$ctrl.styles.inputWrapFocus:'', $ctrl.styles.loginAccount]" class="fe-components-stu-business-login-enter-box-__inputWrap--2OI0SgF-iDEHZborbYzrNZ fe-components-stu-business-login-enter-box-__loginAccount--V6OxcxzYg1Kv38n9KjsDg">
	
	<span ng-class=$ctrl.styles.user class="fe-components-stu-business-login-enter-box-__user--3m888HaDpFj2bvIe1izDhk fe-components-stu-business-login-enter-box-__inputIcon--1CDkTdllyHzKlqTPQgNaCe"></span>
	<input type=text ng-class=$ctrl.styles.inputCon ng-focus="$ctrl.loginNameActive=true;$ctrl.uiModel.nameState=true" ng-blur="$ctrl.loginNameActive=false" ng-model=$ctrl.loginName placeholder=请输入用户名 autofocus input-clear clear-styles="top: 13px;" class="ng-pristine ng-untouched ng-valid fe-components-directive-input-clear-__input--1PtjmmPXgsHV2Vh7c_lJ2z ng-empty fe-components-stu-business-login-enter-box-__inputCon--35HNXB5XGvlrxMkA3vBtzJ" value><span class="fe-components-directive-input-clear-__closeIcon--1-4h2qP26t0bSzIiZPJxT0 fe-components-directive-input-clear-__hidden--3HEYayJ79M-LoD1frUjbNr sf-hidden" style=top:13px></span>
	
	</div>
	<div ng-class="[$ctrl.uiModel.passwordState ? $ctrl.styles.inputWrap:$ctrl.styles.wrong,$ctrl.passWordActive?$ctrl.styles.inputWrapFocus:'', $ctrl.styles.loginAccount]" class="fe-components-stu-business-login-enter-box-__inputWrap--2OI0SgF-iDEHZborbYzrNZ fe-components-stu-business-login-enter-box-__loginAccount--V6OxcxzYg1Kv38n9KjsDg">
	
	<span ng-class=$ctrl.styles.passwd class="fe-components-stu-business-login-enter-box-__passwd--3_izAbe6iH3S6kATxyxEjd fe-components-stu-business-login-enter-box-__inputIcon--1CDkTdllyHzKlqTPQgNaCe"></span>
	<input type=password ng-class=$ctrl.styles.inputCon ng-focus="$ctrl.passWordActive=true;$ctrl.uiModel.passwordState=true" ng-blur="$ctrl.passWordActive=false" ng-model=$ctrl.passWord ng-keyup="($event.which === 13)?$ctrl.login():0" placeholder=请输入密码 input-clear clear-styles="top: 13px;" class="ng-pristine ng-untouched ng-valid fe-components-directive-input-clear-__input--1PtjmmPXgsHV2Vh7c_lJ2z ng-empty fe-components-stu-business-login-enter-box-__inputCon--35HNXB5XGvlrxMkA3vBtzJ" value><span class="fe-components-directive-input-clear-__closeIcon--1-4h2qP26t0bSzIiZPJxT0 fe-components-directive-input-clear-__hidden--3HEYayJ79M-LoD1frUjbNr sf-hidden" style=top:13px></span>
	
	</div>
	<p ng-class=$ctrl.styles.inputError ng-show=$ctrl.uiModel.errorTip class="ng-binding ng-hide fe-components-stu-business-login-enter-box-__inputError--28m0Mi8Wm-d5i3ut0kmPxu sf-hidden"></p>
	<div ng-class=$ctrl.styles.signBtnWrap class=fe-components-stu-business-login-enter-box-__signBtnWrap--1hC-pSiXWu5_WJuSPKGEzQ>
	<button ng-class=$ctrl.styles.signBtn ng-click=$ctrl.login() class="ng-binding fe-components-stu-business-login-enter-box-__signBtn--2VrsqhNGgcjYTh7LuAGzve">登录</button>
	</div>
	<div ng-class=$ctrl.styles.signForget class=fe-components-stu-business-login-enter-box-__signForget--3eRfuXHt_y4QmkWUl3LLP0>
	<a href=https://tsinglanstudent.schoolis.cn/foundpassword/index ng-class=$ctrl.styles.forgetLink class="ng-binding fe-components-stu-business-login-enter-box-__forgetLink--33qRdR5UpfjVrt3C_MdyYR">忘记密码？</a>
	</div>
	</div>
	<div ng-class=$ctrl.styles.footerContainer class=fe-components-stu-business-login-enter-box-__footerContainer--gQuSzbYMxjoy_08VUCTAY>
	<a href=http://www.xiaobaoonline.com/ ng-class=$ctrl.styles.footLink target=view_window class="ng-binding fe-components-stu-business-login-enter-box-__footLink--2K0pI3KH5wNXsdTPoxV4V9">Copyright © 校宝在线</a>
	<div ng-class=$ctrl.styles.dropDown ng-click="$ctrl.isShow = !$ctrl.isShow" class=fe-components-stu-business-login-enter-box-__dropDown--kB4o9X4zLjd9vndOXOcuz>
	<span ng-class=[$ctrl.default.iconStyles,$ctrl.styles.icons] class="fe-components-stu-business-login-enter-box-__chinaIcon--2oGiRmBkHnhuvdQ8ePLC_0 fe-components-stu-business-login-enter-box-__languageIcon--2JJNQNaVpAkMrFpNlLQx_9 fe-components-stu-business-login-enter-box-__icons--Bu0PSByW_oBZZ4flpzC0G"></span>
	<input type=text ng-class=$ctrl.styles.dropInput disabled ng-model=$ctrl.default.title class="ng-pristine ng-untouched ng-valid ng-not-empty fe-components-stu-business-login-enter-box-__dropInput--1tUy0eYmCcC4q2_Ulmp_Gh" value=简体中文>
	<span ng-class=$ctrl.styles.dropPic class=fe-components-stu-business-login-enter-box-__dropPic--3skalHkNxD8UtlUanqTGkq></span>
	<ul ng-class=$ctrl.styles.dropList ng-show=$ctrl.isShow class="ng-hide fe-components-stu-business-login-enter-box-__dropList--2aqWrHJfQi6cOIfvMk3rL- sf-hidden">
	
	</ul>
	</div>
	</div>
	</div>
	</div>
   </div>
   </login-enter-box>
	</div>
	</div>
   </div>
   </login-body></div>
   </div>
   </login-layout>
	
	</div>
   